@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Quicksand;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

.raleway {
    font-family: Raleway;
    color: #808080;
    text-align: center;
    font-family: Raleway;
    font-size: 15.091px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.296px;
    /* 187.5% */
}

.flex {
    display: flex;
}

.link01 {
    color: #FEA301;
}

.link02 {
    color: #01ACFD;
}

.link03 {
    color: #05D4DF;
}

.link04 {
    color: #5D58EF;
}

marquee {
    margin-top: 10px;
    color: #FEA301;
}

.btn {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.875rem;
    border-radius: 12px;
    background: black;
    display: flex;
    width: 197px;
    padding: 0.625rem;
    justify-content: center;
    cursor: pointer;
}

.read {
    display: flex;
    width: 79.653px;
    height: 18.864px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    font-family: Quicksand;
    font-size: 15.091px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.296px;
    cursor: pointer;
}



.navbar {
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    list-style: none;
}

.nav-links {
    display: inline-flex;
    align-items: center;
    gap: 2rem;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-family: Quicksand;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem;
}


.logo {
    justify-content: center;
    text-align: center;
    justify-items: center;
    gap: 12px;
}

.logo img {
    width: 62px;
    height: 62px;
    flex-shrink: 0;
    margin-top: 11px;
}

.logo>h3 {
    color: black;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.875rem;
}

.contact {
    width: 197px;
    color: #FFF;
    font-family: Quicksand;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.875rem;
    padding: 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 12px;
    background: #FEA301;
    border: none;
    cursor: pointer;
}

.banner {
    justify-content: space-around;
}

.ban-title>h2 {
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
    margin-top: 7.5rem;
}

.ban-title>p {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.small {
    display: none;
}

.curriculum {
    background-image: url('./assets/bg.png');
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 3.75rem;

}

.curriculum>h1 {
    color: #000;
    font-size: 46px;
    font-weight: 700;
}

.box-container {
    gap: 1.875rem;
    margin-top: 40px;
}

.box1 {
    display: flex;
    width: 19rem;
    height: 25rem;
    padding: 52.819px 40.668px 53.762px 40.878px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32.069px;
    flex-shrink: 0;
    border-radius: 18.864px;
    border: 0.943px solid #DEF5FF;
    background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.box2 {
    display: flex;
    width: 19rem;
    height: 25rem;
    padding: 52.819px 40.668px 53.762px 40.878px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32.069px;
    flex-shrink: 0;
    border-radius: 18.864px;
    border: 0.943px solid #FFF4DC;
    background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.box3 {
    display: flex;
    width: 19rem;
    height: 25rem;
    padding: 52.819px 40.668px 53.762px 40.878px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32.069px;
    flex-shrink: 0;
    border-radius: 18.864px;
    border: 0.943px solid #F2E8FF;
    background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

#read1 {
    color: #64C8FF;
}

#read2 {
    color: #F0AA00;
}

#read3 {
    color: #8700FF;
}

.icons {
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
    gap: 0.625rem;
}

.icon1 {
    display: flex;
    width: 3.75rem;
    height: 3.75rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50%;
    background: var(--Orange, #FEA301);
    color: #FFF;
    text-align: center;
    font-family: "Font Awesome 5 Free";
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px;
    /* 100% */
}

.icon2 {
    display: flex;
    width: 3.75rem;
    height: 3.75rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50%;
    background: var(--Orange, #FEA301);
    color: #FFF;
    text-align: center;
    font-family: "Font Awesome 5 Free";
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px;
}

.stories {

    background-image: linear-gradient(0deg, rgba(254, 163, 1, 0.30) 0%, rgba(255, 255, 255, 0.30) 100%), url('assets/bg.png');
    width: 1440px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: -40px;
    margin-bottom: 3.75rem;
}

.stories>h1 {
    color: #000;
    font-size: 46px;
    font-weight: 700;
    flex-direction: column;
    justify-content: center;
}

.st1 {
    width: 540.267px;
    height: 640.518px;
    border-radius: 16px;
    background: #FFF;
    flex-direction: column;
}

.st1>img {
    border-radius: 16px 16px 0px 0px;
    width: 540px;
    height: 337px;
}


.st1>button {
    margin-bottom: 30px;
    margin-top: -20px;
    margin-left: 30px;
    display: flex;
    width: 174.51px;
    height: 47.934px;
    padding: 14.38px 18.876px 15.339px 19.174px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 47.934px;
    background: #3CD8E8;
    color: white;
    font-weight: 500;
    border: none;
}

.st-description {
    margin-left: 36px;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.st-description p {
    text-align: left;
}

.card-container {
    gap: 0.938rem;
    margin-top: 3.75rem;
    margin-bottom: 100px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.938rem;
}

.st2,
.st3,
.st4,
.st5 {
    display: flex;
    width: 290.693px;
    flex-direction: column;
    gap: 19.174px;
    border-radius: 16px;
    background: #FFF;
}

.st2>h3 {
    padding: 20px;
    margin-top: -10px;
    display: flex;
    width: 198.036px;
    height: 47.934px;
    flex-direction: column;
    text-align: start;
    flex-shrink: 0;
    color: #000;
    font-size: 15.339px;
    font-weight: 700;
    line-height: 28.761px;
}

.st3>h3 {
    padding: 20px;
    margin-top: -10px;
    display: flex;
    width: 198.036px;
    height: 47.934px;
    flex-direction: column;
    text-align: start;
    flex-shrink: 0;
    color: #000;
    font-size: 15.339px;
    font-weight: 700;
    line-height: 28.761px;
}

.st4>h3 {
    padding: 20px;
    margin-top: -10px;
    display: flex;
    width: 198.036px;
    height: 47.934px;
    flex-direction: column;
    text-align: start;
    flex-shrink: 0;
    color: #000;
    font-size: 15.339px;
    font-weight: 700;
    line-height: 28.761px;
}

.st5>h3 {
    padding: 20px;
    margin-top: -10px;
    display: flex;
    width: 198.036px;
    height: 47.934px;
    flex-direction: column;
    text-align: start;
    flex-shrink: 0;
    color: #000;
    font-size: 15.339px;
    font-weight: 700;
    line-height: 28.761px;
}

.st2>img {
    display: flex;
    width: 290.690px;
    border-radius: 16px 16px 0px 0px;
}

.st3>img {
    display: flex;
    width: 290.690px;
    border-radius: 16px 16px 0px 0px;
}

.st4>img {
    display: flex;
    width: 290.690px;
    border-radius: 16px 16px 0px 0px;
}

.st5>img {
    display: flex;
    width: 290.690px;
    border-radius: 16px 16px 0px 0px;
}

.st2>button {
    margin-left: 20px;
    margin-top: -36px;
    display: flex;
    width: 136.459px;
    height: 18.215px;
    flex-direction: column;
    justify-content: center;
    width: 174.51px;
    height: 38.347px;
    padding: 9.587px 18.876px 10.545px 19.174px;
    justify-content: center;
    align-items: center;
    border-radius: 47.934px;
    background: #95B226;
    color: #FFF;
    font-size: 13.339px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.761px;
    border: none;

}

.st3>button {
    margin-left: 20px;
    margin-top: -36px;
    display: flex;
    width: 136.459px;
    height: 18.215px;
    flex-direction: column;
    justify-content: center;
    width: 174.51px;
    height: 38.347px;
    padding: 9.587px 18.876px 10.545px 19.174px;
    justify-content: center;
    align-items: center;
    border-radius: 47.934px;
    background: #5D58F0;
    color: #FFF;
    font-size: 13.339px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.761px;
    border: none;

}

.st4>button {
    margin-left: 20px;
    margin-top: -36px;
    display: flex;
    width: 136.459px;
    height: 18.215px;
    flex-direction: column;
    justify-content: center;
    width: 174.51px;
    height: 38.347px;
    padding: 9.587px 18.876px 10.545px 19.174px;
    justify-content: center;
    align-items: center;
    border-radius: 47.934px;
    background: #95B226;
    color: #FFF;
    font-size: 13.339px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.761px;
    border: none;

}

.st5>button {
    margin-left: 20px;
    margin-top: -36px;
    display: flex;
    width: 136.459px;
    height: 18.215px;
    flex-direction: column;
    justify-content: center;
    width: 174.51px;
    height: 38.347px;
    padding: 9.587px 18.876px 10.545px 19.174px;
    justify-content: center;
    align-items: center;
    border-radius: 47.934px;
    background: #95B226;
    color: #FFF;
    font-size: 13.339px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.761px;
    border: none;

}

.view {
    display: flex;
    width: 197px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: black;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 70px;
    cursor: pointer;
}

footer {
    width: 1440px;
    height: 519px;
    background: #01ACFD;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -3.75rem;
}

.foot-container {
    flex-direction: column;
}

.foot-logo {
    gap: 1.4rem;
}

.foot-logo>h1 {
    color: #FFF;
    font-size: 42.143px;
    font-weight: 700;
    line-height: 39.509px;
    margin-top: 5px;
}

.foot-container>p {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: normal;

}

.ul {
    flex-direction: column;
    margin-top: -0.625rem;
    gap: 1.25rem;
}

.ul>li {
    list-style: none;
}

.ul>li>a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: normal;
}

.ul>h3 {
    color: #FFF;
    font-family: Quicksand;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.touch>h3 {
    color: #FFF;
    font-family: Quicksand;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.625rem;
    margin-top: -115px;

}



@media screen and (max-width:576px) {

    .nav-links,
    .contact {
        display: none;
    }

    .logo>h3 {
        display: none;
    }
    .logo img {
        margin-right: 100px;
    }
    .banner,
    .curriculum,
    .box-container,
    .stories,
    .foot,
    .ul,
    .touch {
        flex-direction: column;
    }

    .foot {
        margin-left: 30px;
        width: 390px;
        height: 770px;
        align-items: flex-start;
        padding: 6px;
    }

    .foot-container {
        margin-top: 40px;
        margin-left: 1.875rem;
    }

    .foot-logo>h1 {
        color: #FFF;
        font-size: 35px;
        font-weight: 700;
        /* margin-top: 5px; */
    }

    .foot-container>p {
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;

    }

    .ul {
        margin-left: -0.625rem;
        gap: 0.625rem;
    }

    .touch {
        margin-top: 9.375rem;
        margin-left: 1.875rem;
    }

    .view {
        width: 184px;
        height: 60px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        margin-top: -80px;
    }

    .stories {
        margin-top: 30px;
        width: 390px;
        height: 700px;
        padding: 40px 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;
        margin-left: 2.25rem;
    }

    .banner img {
        margin-left: 3.125rem;
    }

    .ban-title {
        text-align: center;
        margin-top: -80px;
    }

    .banner {
        flex-direction: column-reverse;
        margin-left: 3.125rem;
        text-align: center;
        align-items: center;
    }

    .btn {
        margin-top: 1.875rem;
        margin-left: 90px;
    }

    .small {
        display: block;
        width: 1.875rem;
        height: 1.875rem;
    }

    .small svg {
        margin-top: -7px;
        margin-left: 60px;
    }

    .curriculum {
        margin-left: 80px;
    }

    .box1 {
        display: flex;
        padding: 36px 28px;
        flex-direction: column;
        align-items: center;
        gap: 22px;
        align-self: stretch;
        border-radius: 12.772px;
        border: 0.639px solid #DEF5FF;
        background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
        box-shadow: 0px 0px 19.158px 0.639px rgba(0, 0, 0, 0.05) inset;
    }

    .box2 {
        display: flex;
        padding: 36px 28px;
        flex-direction: column;
        align-items: center;
        gap: 22px;
        align-self: stretch;
        border-radius: 12.772px;
        border: 0.639px solid #FFF4DC;
        background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
        box-shadow: 0px 0px 19.158px 0.639px rgba(0, 0, 0, 0.05) inset;
    }

    .box3 {
        display: flex;
        padding: 36px 28px;
        flex-direction: column;
        align-items: center;
        gap: 22px;
        align-self: stretch;
        border-radius: 12.772px;
        border: 0.639px solid #F2E8FF;
        background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
        box-shadow: 0px 0px 19.158px 0.639px rgba(0, 0, 0, 0.05) inset;
    }

    .st1 {
        display: none;
    }

    .cards {
        margin-top: -30px;
        gap: 9px;
        grid-template-columns: repeat(2, 1fr);
    }

    .st2,
    .st3,
    .st4,
    .st5 {
        display: flex;
        max-width: 185px;
        flex-direction: column;
        gap: 3px;
        border-radius: 16px;
        background: #FFF;
    }

    .st2>img {
        display: flex;
        width: 185px;
    }

    .st3>img {
        display: flex;
        width: 185px;
    }

    .st4>img {
        display: flex;
        width: 185px;
    }

    .st5>img {
        display: flex;
        width: 185px;
    }

    .st2>h3 {
        font-size: 12px;
    }

    .st3>h3 {
        font-size: 12.8px;
    }

    .st4>h3 {
        font-size: 12px;
    }

    .st5>h3 {
        font-size: 13.8px;
    }

    .st2>button {
        margin-top: -20px;
        width: 130.51px;
        height: 40px;
        font-size: 10.339px;
    }

    .st3>button {
        margin-top: -20px;
        width: 130.51px;
        height: 40px;
        font-size: 10.339px;
    }

    .st4>button {
        margin-top: -20px;
        width: 135.51px;
        height: 40px;
        font-size: 10.339px;
    }

    .st5>button {
        margin-top: -20px;
        width: 114.51px;
        height: 40px;
        font-size: 10.339px;
    }


    .icons {
        display: none;
    }

    .banner {
        justify-content: center;
        align-items: center;
        gap: 18px;
    }

    marquee {
        margin-top: 10px;
        width: 100%;
    }

}